@font-face {
    font-family: 'sf-pro-light';
    src: url('/static/fonts/sf-pro-display_light.woff');
}

@font-face {
    font-family: 'sf-pro-medium';
    src: url('/static/fonts/sf-pro-display_medium.woff');
}

@font-face {
    font-family: 'sf-pro-regular';
    src: url('/static/fonts/sf-pro-text_regular.woff');
}

@font-face {
    font-family: "shared-icons";
    src: url("/static/fonts/shared-icons.woff");
    font-weight: normal;
    font-style: normal;
}

body {
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: -webkit-box;
    font-family: "sf-pro-regular";
}

.main {
    margin-top: 20px;
    width: 100%;
}

a {
    color: inherit;
}

h1{
	font-family: "sf-pro-medium";
}

.light{
	font-family: "sf-pro-light";
}

