

/* The hero image */
.hero-image {
    /* The image used */
    background-image: url("/static/img/water.png");

    /* Set a specific height */
    height: 600px;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

input{
    height: 42px;
    width: 328px;
    border-radius: 5px;
    border-style: none;
    padding-left: 10px;
    font-size: 17px;
    color: grey;
    border-color: none !important;
}
button:focus {outline:none;}
#submit{
    margin-left: -43px;
    background: transparent;
    border: none !important;
}
.icon {
    font-family: "shared-icons";
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 26px;
    color: darkgrey !important;
}

.icon:focus{
    color:black;
}
.icon_sign_in:before {
    content: "\f125";


}