body{
    min-width:430px;
}

.featured-header {
    height: 552px;
}

.gallery-head {
    text-align: center;
    margin-top: 8%;
}

.gallery-header-image {
    text-align: center;
}

.subheadline {
    font-weight: normal;
}

.product-header {
    text-align: center;
    margin-top: 30px;
}

.products {
    width: 100% !important;
    margin: 0;
    padding: 0;
}

.product-block {
    display: inline-block;
    height: 268px;
    margin: 0.1px;
    min-height: 195px;
    background-color: #FAFAFA;
}

.product-block:hover {
    cursor: pointer;
}

.deathnote {
    background: url(/static/img/deathnoteapple.png) no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-color: black;
    color: white;
}

#totoro {
    height: 70%;
    width: 70%;
    z-index: 1;
}


/*Change width if the viewport is 1070 pixels wide or wider*/

@media screen and (min-width: 1070px) {
    .product-block {
        width: 24.7%;
    }
}


/*Change width if the viewport is 735 pixels wide or wider*/

@media screen and (min-width: 735px) and (max-width:1070px) {
    .product-block {
        width: 49.7%;
    }
}


/*Change width if the viewport is 735 pixels wide or smaller*/

@media screen and (max-width: 735px) {
    .product-block {
        width: 98%;
    }
    .gallery-head {
        margin-top: 60px;
    }
}


/*-------------- ipad ----------------*/

.ipad-container {
    width: 400px;
    height: 576px;
    position: relative;
    margin: 40px auto 100px auto;
    -moz-perspective: 1600px;
    -webkit-perspective: 1600px;
    perspective: 1600px;
}

.ipad {
    width: 100%;
    height: 100%;
    position: absolute;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
    margin: 0 auto;
}

.ipad > div {
    position: absolute;
    display: table;
}

.ipad .front {
    text-align: center;
    border-style: solid;
    border-width: 40px 30.07519px 60px;
    border-color: #FFFFFF;
    display: block;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBlMzQ3OSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2QwZTNlMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0e3479), color-stop(100%, #d0e3e2));
    background-image: -moz-linear-gradient(#0e3479, #d0e3e2);
    background-image: -webkit-linear-gradient(#0e3479, #d0e3e2);
    background-image: linear-gradient(#0e3479, #d0e3e2);
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -moz-box-shadow: 0px 0px 0 2px #E0DFE3;
    -webkit-box-shadow: 0px 0px 0 2px #E0DFE3;
    box-shadow: 0px 0px 0 2px #E0DFE3;
}

.ipad .front {
    width: 400px;
    height: 576px;
}

.ipad .top,
.ipad .bottom {
    background: #E0DFE3;
    -moz-border-radius: 20px 20px 0 0;
    -webkit-border-radius: 20px;
    border-radius: 20px 20px 0 0;
}

.ipad .right,
.ipad .left {
    background: #E0DFE3;
    -moz-border-radius: 20px 0 0 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px 0 0 20px;
}

.front-top {
    font-size: 10px;
    color: #FFFFFF;
    text-align: left;
    margin-left: 6px;
    margin-top: 4px;
}

.front-top:before,
.front-top:after {
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    width: 7%;
    left: 46.5%;
    height: 4px;
}

.front-top:before {
    top: 8px;
}

.front-top:after {
    bottom: 8px;
}

.front-top i {
    position: relative;
    top: -10px;
    font-style: normal;
}

.wifi {
    padding: 8px;
    position: relative;
    top: 1px;
    left: 4px;
}

.wifi:before,
.wifi:after {
    content: "";
    position: absolute;
}

.wifi:before {
    width: 78%;
    height: 50%;
    left: 15%;
    top: 10%;
}

.wifi:after {
    width: 30%;
    height: 10%;
    left: 35%;
    top: 33%;
}

.wifi,
.wifi:before,
.wifi:after {
    display: inline-block;
    border: 2px solid transparent;
    border-top-color: #FFFFFF;
    -moz-border-radius: 60%;
    -webkit-border-radius: 60%;
    border-radius: 60%;
}

.battery {
    position: relative;
    float: right;
    left: -30px;
}

.battery:before,
.battery:after {
    content: "";
    position: absolute;
    background: #FFFFFF;
}

.battery:before {
    width: 10%;
    height: 40%;
    left: 185%;
    top: 30%;
}

.battery:after {
    width: 70%;
    height: 65%;
    left: 120%;
    top: 20%;
}

.time {
    font-weight: 100;
    font-size: 54px;
    color: #FFFFFF;
    margin-top: 14px;
}

.time span {
    display: block;
    font-size: 12px;
}

.home {
    background: #FFFFFF;
    width: 33.33333px;
    height: 33.33333px;
    position: absolute;
    bottom: -46.875px;
    left: 50%;
    right: 0;
    margin-left: -16.66667px;
    border: 1px solid rgba(136, 136, 136, 0.3);
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwZGZlMyIgc3RvcC1vcGFjaXR5PSIwLjUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(224, 223, 227, 0.5)), color-stop(100%, #ffffff));
    background-image: -moz-linear-gradient(rgba(224, 223, 227, 0.5), #ffffff);
    background-image: -webkit-linear-gradient(rgba(224, 223, 227, 0.5), #ffffff);
    background-image: linear-gradient(rgba(224, 223, 227, 0.5), #ffffff);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.home:before,
.home:after {
    content: "";
    position: absolute;
}

.home:before {
    width: 13.33333px;
    height: 13.33333px;
    left: 9px;
    top: 9px;
    border: 1.77778px solid rgba(136, 136, 136, 0.3);
    -moz-border-radius: 30%;
    -webkit-border-radius: 30%;
    border-radius: 30%;
}


/*  watch */

.watch {
    height: 90%;
}

.apple-watch {
    position: relative;
    width: 165px;
    height: 191px;
    margin: 2em auto;
    color: #999;
    background: currentColor;
    border-radius: 3.25em;
    transform: translateZ(0);
    transition: all 500ms;
}

.apple-watch:before,
.apple-watch:after {
    content: '';
    position: absolute;
    top: .875em;
    left: 0.5833em;
    display: block;
    width: 0.33em;
    height: 0;
    transform: skewY(-45deg);
    box-shadow: 0 0 0.25em 0.167em rgba(255, 255, 255, 0.7);
}

.apple-watch:after {
    left: auto;
    top: .875em;
    right: 0.5833em;
    transform: skewY(45deg);
}

.glass {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 91%;
    height: 91%;
    overflow: hidden;
    border-radius: 2.5625em;
    box-shadow: 0 0 0 0.125em #333, 0 -1.25em 1em -0.75em rgba(255, 255, 255, 0.5), 1.5em 0 1em -1em rgba(255, 255, 255, 0.5), 0 1.25em 1em -0.75em rgba(255, 255, 255, 0.5), -1.5em 0 1em -1em rgba(255, 255, 255, 0.5), inset 3em 0 4em -3em rgba(255, 255, 255, 0.6), inset -0.25em -0.25em 0.75em rgba(255, 255, 255, 0.4), inset 0.5em 0 0.75em -0.5em rgba(255, 255, 255, 0.6), inset 0 0 0 2em #000;
}

.glass:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 88%;
    height: 10%;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10% / 50%;
    box-shadow: inset 0 1.25em 1em 0.25em rgba(255, 255, 255, 0.4);
}

.display {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 91%;
    height: 91%;
    background-color: #000;
    background-image: url(/static/img/dontforget.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 2.5625em;
}

.crown {
    position: absolute;
    z-index: 10;
    top: 43px;
    right: -6px;
    width: 10.73px;
    height: 32.61px;
    overflow: hidden;
    background-color: currentColor;
    background-size: 50% 0.17em;
    background-position: top right;
    background-repeat: repeat-y;
    border-left: 3px solid #333;
    border-radius: 50% 25% 25% 50% / 50% 25% 25% 50%;
    box-shadow: inset 0 0.15em 0.15em rgba(0, 0, 0, 0.5), inset 5.15em 0 0.15em -5em rgba(255, 255, 255, 0.5), inset 5.3em 0 0.15em -5em rgba(0, 0, 0, 0.2), inset 0 0.4em 0.5em rgba(255, 255, 255, 0.8), inset 0 1em 0.5em rgba(0, 0, 0, 0.3), inset 0 -1em 0.5em rgba(0, 0, 0, 0.3), inset 0 0 0 1em rgba(255, 255, 255, 0.5);
}

.crown:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: block;
    width: 45%;
    height: 0.083em;
    color: rgba(0, 0, 0, 0.4);
    background: currentColor;
    box-shadow: 0 -0.25em, 0 -0.5em, 0 -0.75em rgba(0, 0, 0, 0.3), 0 -1em rgba(0, 0, 0, 0.3), 0 -1.1875em rgba(0, 0, 0, 0.3), 0 -1.375em rgba(0, 0, 0, 0.2), 0 -1.5625em rgba(0, 0, 0, 0.2), 0 -1.6875em rgba(0, 0, 0, 0.15), 0 0.25em, 0 0.5em, 0 0.75em rgba(0, 0, 0, 0.3), 0 1em rgba(0, 0, 0, 0.3), 0 1.1875em rgba(0, 0, 0, 0.3), 0 1.375em rgba(0, 0, 0, 0.2), 0 1.5625em rgba(0, 0, 0, 0.2), 0 1.6875em rgba(0, 0, 0, 0.15);
    opacity: 0.5;
}

.apple-watch .button {
    position: absolute;
    z-index: 10;
    top: 100px;
    right: -2px;
    width: 2.33px;
    height: 49px;
    overflow: hidden;
    background-color: currentColor;
    background-size: 50% 0.25em;
    background-position: top right;
    background-repeat: repeat-y;
    border-radius: 30% 25% 25% 30% / 50% 25% 25% 50%;
    box-shadow: -0.0625em 0 0.125em #777, inset -0.0625em 0 0.0625em rgba(0, 0, 0, 0.5), inset 0 0.0625em rgba(0, 0, 0, 0.5), inset 0 0.125em 0.15em rgba(255, 255, 255, 0.8), inset 0 0.25em rgba(0, 0, 0, 0.5), inset 0 0.5em 0.15em rgba(255, 255, 255, 0.8), inset 0 -0.25em 0.125em rgba(0, 0, 0, 0.6), inset 0 -0.5em 0.125em rgba(255, 255, 255, 0.8), inset 0 -0.75em 0.125em rgba(0, 0, 0, 0.6), inset 0 1.25em 0.5em -0.25em rgba(0, 0, 0, 0.8), inset 0 0 0 0.25em rgba(255, 255, 255, 0.75);
}

a.button {
    display: inline-block;
    min-width: 5em;
    padding: 0.75em 1.5em;
    margin: 0.25em;
    color: #08c;
    text-align: center;
    text-decoration: none;
    border: 2px solid;
    border-radius: 0.375em;
}


/* ------------ iMac ----------- */
.shelter{
    text-align: center;
    background: url("/static/img/imac.png") no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-color: #FAFAFA;
}

#mainVideo {
    width: 100%;
    position: relative;
    margin: 0 auto;
    z-index: 1;
}

.animescreen {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#youtube {
    top:0;
    z-index: 5;
    width: 60%;
    max-height: 190px;

}
