<footer>
    <div id="footer">
        <section class="ac-gf-footer" vocab="http://schema.org/" typeof="Organization">
            <div class="ac-gf-footer-shop" x-ms-format-detection="none"> More ways to watch: Visit the <a href="https://search.itunes.apple.com/WebObjects/MZStore.woa/wa/search?submit=edit&mt=1&term=anime" class="analytics-exitlink" data-analytics-link_type="exit" data-analytics-listener-added="true">iTunes Store</a>, <span class="nowrap">call your local otaku, or <a href="https://locate.apple.com/" class="analytics-exitlink" data-analytics-link_type="exit" data-analytics-listener-added="true">look through what others are watching</a></span>. </div>
            <div class="ac-gf-footer-locale">
                <a class="ac-gf-footer-locale-link" href="/country-selector" title="Choose your country or region" aria-label="United States. Choose your country or region"><img class="ac-gf-footer-locale-flag" src="/static/img/us.png" alt="" width="16" height="16">United States</a>
            </div>
            <div class="ac-gf-footer-legal">
                <div class="ac-gf-footer-legal-copyright">Copyright © 2017 Anime@Apple Inc. All rights reserved.</div>
                <div class="ac-gf-footer-legal-links">
                    <a class="ac-gf-footer-legal-link analytics-exitlink" href="/footer/privacy-policy" data-analytics-link_type="exit" data-analytics-listener-added="true">Privacy Policy</a>
                    <a class="ac-gf-footer-legal-link analytics-exitlink" href="/footer/terms" data-analytics-link_type="exit" data-analytics-listener-added="true">Terms of Use</a>
                    <a class="ac-gf-footer-legal-link analytics-exitlink" href="/footer/sales_refunds" data-analytics-link_type="exit" data-analytics-listener-added="true">Sales and Refunds</a>
                    <a class="ac-gf-footer-legal-link" href="/footer/sitemap" data-analytics-link_type="exit" data-analytics-listener-added="true">Site Map</a>
                    <a class="ac-gf-footer-legal-link" href="/footer/contact" data-analytics-link_type="exit" data-analytics-listener-added="true">Contact Anime@Apple</a>
                </div>
            </div>
            <meta content="Anime@Apple" property="name">
            <meta content="1-800-692-7753" property="telephone">
        </section>
    </div>
</footer>
