{% extends "genLayout.html" %} {% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" /> {% endblock %} {% block body %}
<section class="featured-product">
    <div class="gallery-head">
        <div class="gallery-header">
            <a href="#">
                <h1>iPad Pro</h1>
            </a>
            <h3 class="subheadline">Anything you can watch,<br> you can watch more of</h3>
        </div>
        <div class="gallery-header-image">
            <div class="ipad-container">
                <div class="ipad" id="ipad">
                    <div class="front">
                        <div class="home"></div>
                        <p class="front-top">
                            <i>anime</i><span class="wifi">
                            </span><span class="battery">100%</span>
                        </p>
                        <p class="time">
                            4:20<span>Sunday, July 2</span>
                        </p>
                        <img id="totoro" src="/static/img/totoro_transparent.gif">
                    </div>
                    <div class="right"></div>
                    <div class="left"></div>
                    <div class="top"></div>
                    <div class="bottom">
                        <div class="charger"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <ul class="products">
        <li class="product-block deathnote">
        </li>
        <li class="product-block fma">
            <div class="product-header">
            </div>
            <div class="watch">
                <div class="apple-watch">
                    <div class="crown"></div>
                    <div class="button"></div>
                    <div class="glass"></div>
                    <div class="display">
                    </div>
                </div>
            </div>
        </li>
        <li class="product-block shelter">
            <!-- iMac -->
            <div id="mainVideo">
                <div class="animescreen" id="youtube"></div>
            </div>
        </li>
        <li class="product-block">
            <div class="product-header">
            </div>
        </li>
    </ul>
</section>
{% endblock %} {% block scripts %}
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>
<script src="https://www.youtube.com/iframe_api"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
