{% extends "genLayout.html" %} {% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}"> {% endblock %} {% block body %}
<div class="hero-image">
    <div class="hero-text">
        <h1>My Anime List</h1>
        <h2 class="light">Sign in</h2>
        <form id="login" method="post" action="/signin">
            <input type="text" class="light" name="malUsername" id="malUsername" placeholder="MAL username" />
            <!--<input type="password" name="loginPass" id="loginPass" placeholder="Password" />-->
            <button id="submit" type="submit" name="submit" value="Login"><i class="icon icon_sign_in"></i></button>
        </form>
    </div>
</div>
{% endblock %} {% block scripts %} {% endblock %}
