{% extends "genLayout.html" %} {% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}"> {% endblock %} {% block body %}
<div class="hero-image">
    <div class="hero-text">
        <h1>My Anime List</h1>
        <h2 class="light">Link Account</h2>
        <form id="login" method="post" action="/signin">
            <input type="text" class="light" name="malUsername" id="malUsername" placeholder="MAL username" />
            <!--<input type="password" name="loginPass" id="loginPass" placeholder="Password" />-->
            <button id="submit" type="submit" name="submit" value="Login"><i class="icon icon_sign_in"></i></button>
        </form>
    </div>
</div>
<div id="app-content">
    <div class="container">
        <div class="flex home-content">
            <h2 class="title separator tk-section-headline your-account">
                  Your account for everything Anime.
                </h2>
            <div class="intro-signin">A single MAL account gives you insight into Apple's favorite anime.</div>
            <div class="apps text-center">
                <div class="app-icons-2x" title="Apple Apps and Services: iCloud, App Store, iTunes, iBooks, Messages, FaceTime, Apple Store, Game Center."></div>
            </div>
            <div class="mobile-apps text-center mobile-only">
                <div class="mobile-icons-2x" title="Apple Apps and Services: iCloud, App Store, iTunes, iBooks, Messages, FaceTime, Apple Store, Game Center."></div>
            </div>
            <div class="intro-signin create show">
                <span class="mobile-only"></span>
                <span class="not-mobile"></span>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %} {% block scripts %} {% endblock %}
